%ul
  -@mail_sets.each do |mail_set|
    %div
      %p= link_to mail_set.name, mail_set_path(mail_set)
      %p= link_to 'Edit', edit_mail_set_path(mail_set)
      %p= link_to 'Delete', mail_set, method: :delete, data: { confirm: 'Are you sure?' }, remote: true


%p= link_to 'Create new mailset', new_mail_set_path

%div= will_paginate @histories, renderer: WillPaginate::ActionView::BootstrapLinkRenderer